<div class="breadcumb-section">
    <div class="breadcumb-wrapper truck-99">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">{{ menuItem?.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-section fix">
    <div class="about-wrapper section-padding style3">
        <ng-container *ngIf="!(isMobile$ | async)">
            <div class="shape2">
                <img
                    class="float-bob-x"
                    src="/img/shape/aboutShape3_2.png"
                    alt="shape"
                />
            </div>
            <div class="orange-shape">
                <img src="/img/about/orange-shape.png" alt="shape" />
            </div>
        </ng-container>
        <div class="container">
            <div class="row gx-60 gy-5">
                <div class="col-xl-6">
                    <div class="about-thumb-img">
                        <img
                            [src]="menuItem?.imageUrl ? '/' + menuItem?.imageUrl : '/img/dishes/default.png'"
                            [alt]="menuItem?.title"
                        />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-content">
                        <div class="title-area">
                            <div
                                class="sub-title text-start wow fadeInUp"
                                data-wow-delay="0.5s"
                            >
                                <img
                                    class="me-1"
                                    src="/img/icon/titleIcon.svg"
                                    alt="icon"
                                />
                                Menu Item
                                <img
                                    class="ms-1"
                                    src="/img/icon/titleIcon.svg"
                                    alt="icon"
                                />
                            </div>
                            <h2
                                class="title text-start wow fadeInUp"
                                data-wow-delay="0.7s"
                            >
                                {{ menuItem?.title }}
                            </h2>
                            <div
                                class="text text-start wow fadeInUp"
                                data-wow-delay="0.8s"
                            >
                                {{ menuItem?.description }}
                            </div>
                        </div>
                        <div class="fancy-box-wrapper">
                            <div class="fancy-box">
                                <div class="icon">
                                    <img src="/img/icon/star2.svg" alt="icon" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
