.product-image {
    width: 438px;
    height: 390px;
    border-radius: 10px;
    z-index: 1;
}

.product-big-img {
    padding: 0 0 0 0;
}

.circle-shape {
    top: 20px !important;
}

@media (max-width: 1200px) {
    .about-thumb-img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .about-thumb-img {
        width: 100%;
    }
}
