<app-preloader></app-preloader>

<button
    class="scroll-top-btn"
    [class.visible]="isScrolled"
    (click)="scrollToTop()"
    aria-label="Scroll to top"
>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path
            d="M374.6 246.6c-6.2-6.2-16.4-6.2-22.6 0L192 406.3 31.9 246.2c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6l160 160c6.2 6.2 16.4 6.2 22.6 0l160-160c6.3-6.2 6.3-16.4 0-22.2z"
            transform="rotate(180, 192, 256)"
        />
    </svg>
</button>

<header class="header" [class.scrolled]="isScrolled">
    <div class="container">
        <div class="header__content">
            <div class="header__left">
                <button
                    class="menu-toggle"
                    (click)="toggleMobileMenu()"
                    aria-label="Toggle menu"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <a routerLink="/" class="mobile-logo">
                    <img src="https://cdn.syncgr.com/domains/timsgourmetsliders.com/117fefd2-c7fb-4eb7-8321-b75e8bbac469.png" alt="Logo" />
                </a>
            </div>

            <nav class="header__nav">
                <ul class="nav-menu">
                    <li><a routerLink="/" class="nav-link">Home</a></li>
                    <li>
                        <a routerLink="catering" class="nav-link">Catering</a>
                    </li>
                    <li><a routerLink="menu" class="nav-link">Menu</a></li>

                    <li class="logo-container">
                        <a routerLink="/" class="logo">
                            <img src="https://cdn.syncgr.com/domains/timsgourmetsliders.com/abbbfea1-c11b-43de-b796-05559b9a7a10.png" alt="Logo" />
                        </a>
                    </li>

                    <li>
                        <a routerLink="meet-us" class="nav-link">Meet Us</a>
                    </li>
                    <li>
                        <a routerLink="reviews" class="nav-link">Reviews</a>
                    </li>
                    <li>
                        <a routerLink="contact-us" class="nav-link"
                            >Contact Us</a
                        >
                    </li>
                </ul>
            </nav>

            <div class="header__right">
                <a routerLink="menu" class="order-btn" aria-label="Order now">
                    <span>Menu</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        class="arrow-icon"
                    >
                        <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
