.logo-img {
    height: 66px;
}

.logo-image > a > img {
    height: 90px;
}

.mobile-logo > a > img {
    height: 42px;
}

.logo-image > a > img {
    height: 46px;
    width: 100px;
}

@media (max-width: 1500px) {
    .header-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
