<footer class="footer-section bg-title fix">
    <div class="footer-widgets-wrapper">
        <div class="shape1 float-bob-y d-none d-xxl-block">
            <img src="/img/shape/footerShape1_1.png" alt="shape" />
        </div>
        <div class="shape2 d-none d-xxl-block">
            <img src="/img/shape/footerShape1_2.png" alt="shape" />
        </div>
        <div class="shape3 d-none d-xxl-block">
            <img src="/img/shape/footerShape1_3.png" alt="shape" />
        </div>
        <div class="shape4 d-none d-xxl-block">
            <img src="/img/shape/footerShape1_4.png" alt="shape" />
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="row gy-4">
                    <div class="col-lg-4">
                        <div class="fancy-box">
                            <div *ngIf="!(isMobile$ | async)" class="item1">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="item2">
                                <h6>address</h6>
                                <p>{{contact.ADDRESS}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                        <div class="fancy-box">
                            <div *ngIf="!(isMobile$ | async)" class="item1">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="item2">
                                <h6>send email</h6>
                                <p>{{ contact.EMAIL }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                        <div class="fancy-box">
                            <div *ngIf="!(isMobile$ | async)" class="item1">
                                <i class="fa-regular fa-phone-volume"></i>
                            </div>
                            <div class="item2">
                                <h6>Phone Number</h6>
                                <p>{{contact.PHONE}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="#" class="footer-logo">
                                <img src="/img/old/logo2.png" class="logo-img" alt="logo-img" />
                            </a>
                        </div>
                        <div class="footer-content">
                            <div class="social-icon d-flex align-items-center">
                                <a target="_blank" [href]="socials.FACEBOOK"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a target="_blank" [href]="socials.YELP"
                                    ><i class="fab fa-yelp"></i
                                ></a>
                                <a target="_blank" [href]="socials.GOOGLE"
                                    ><i class="fab fa-google"></i
                                ></a>
                                <a target="_blank" [href]="socials.INSTAGRAM"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Quick Links</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a routerLink="/">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a routerLink="catering">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Catering
                                </a>
                            </li>
                            <li>
                                <a routerLink="menu">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Menu
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Feedback
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Reviews
                                </a>
                            </li>
                            <li>
                                <a routerLink="contact-us">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Our Menu</h3>
                        </div>
                        <ul class="list-area">
                            <li *ngFor="let item of menu">
                                <a [routerLink]="['menu-item', item.id]">
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    {{ item.title }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Hours</h3>
                        </div>
                        <ul class="list-area">
                            <li class="mb-2">
                                Monday – Saturday:
                                <span class="text-theme-color2"> 10am – 9pm </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft" data-wow-delay=".3s">
                    © All Copyright 2025 by Guru Development LLC
                </p>
                <!--<ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">-->
                <!--  <li>-->
                <!--    <a class="text-white" href="#"> Terms & Condition </a>-->
                <!--  </li>-->
                <!--  <li>-->
                <!--    <a class="text-white" href="#"> Privacy Policy </a>-->
                <!--  </li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</footer>
