<ng-container *ngIf="!loading && brand && contact && footer; else footerLoading">
<footer class="footer-section">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="contact-section">
                <div class="row gy-4">
                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Address</h6>
                                <p>{{ contact.address }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Email</h6>
                                <a href="mailto:{{ contact.email }}">
                                    <p>{{ contact.email }}</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Phone Number</h6>
                                <p>
                                    <a
                                        [href]="contact.phoneLink"
                                        itemprop="telephone"
                                    >
                                        {{ contact.phone }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-content-section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a href="#" class="footer-logo">
                                    <img
                                        [src]="brand.footerLogoUrl"
                                        class="logo-img"
                                        alt="logo-img"
                                        loading="lazy"
                                    />
                                </a>
                            </div>
                            <div class="footer-content">
                                <div class="social-icon-container">
                                    <a
                                        *ngIf="brand.socialUrls.facebook"
                                        target="_blank"
                                        [href]="brand.socialUrls.facebook"
                                        aria-label="Facebook"
                                        class="social-icon facebook"
                                    >
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a
                                        *ngIf="brand.socialUrls.google"
                                        target="_blank"
                                        [href]="brand.socialUrls.google"
                                        aria-label="Google"
                                        class="social-icon google"
                                    >
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a
                                        *ngIf="brand.socialUrls.instagram"
                                        target="_blank"
                                        [href]="brand.socialUrls.instagram"
                                        aria-label="Instagram"
                                        class="social-icon instagram"
                                    >
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>{{ footer.quickLinksHeading }}</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="catering">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Catering
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="menu">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Menu
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="meet-us">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Meet Us
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="reviews">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Reviews
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="contact-us">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="menu-pdf">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Menu PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>{{ footer.menuColumnHeading }}</h3>
                            </div>
                            <ul class="list-area">
                                <li *ngFor="let item of menuItems">
                                    <a [routerLink]="['menu-item', item.slug]">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        {{ item.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>{{ footer.hoursColumnHeading }}</h3>
                            </div>
                            <ul class="list-area">
                                <li class="mb-2">
                                    {{ footer.hoursLabel }}
                                    <span class="hours-text"> {{ footer.hoursValue }} </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper">
                <p>
                    Website by <a href="https://syncgr.com" target="_blank" rel="noopener noreferrer">Sync.</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</ng-container>
<ng-template #footerLoading>
    <footer class="footer-section footer-section--loading">
        <div class="footer-widgets-wrapper">
            <div class="container">
                <div class="footer-content-section">
                    <div class="row">
                        <div class="col-12 text-center py-4">
                            <span class="visually-hidden">Loading footer…</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</ng-template>
