{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "semi": true,
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "insertPragma": false,
    "requirePragma": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html",
                "printWidth": 80
            }
        },
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
