<div class="container">
  <div class="row gx-4 gy-5">
    <div class="col-xl-6">
      <div class="contact-form-thumb">
        <img
          src="/img/contact/contactThumb2_1.png"
          alt="thumb"
          class="img-fluid rounded"
        />
      </div>
    </div>
    <div class="col-xl-6">
      <div class="contact-form style2 p-4">
        <h2 class="mb-4">Get in Touch</h2>
        <form class="row g-3" action="#">
          <div class="col-md-6">
            <input type="text" placeholder="Full Name" class="form-control" />
          </div>
          <div class="col-md-6">
            <input
              type="email"
              placeholder="Email Address"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <input
              type="number"
              placeholder="Phone Number"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <select name="orderby" class="form-select" aria-label="Shop order">
              <option value="subject" selected="selected">Subject</option>
              <option value="complain">Complain</option>
              <option value="greetings">Greetings</option>
              <option value="date">Expire Date</option>
              <option value="price">About Price</option>
              <option value="order">About order</option>
            </select>
          </div>
          <div class="col-12">
            <textarea
              id="message"
              class="form-control"
              placeholder="Write your message here..."
              rows="5"
            ></textarea>
          </div>
          <div class="col-12 form-group">
            <div class="form-check">
              <input
                id="reviewcheck"
                name="reviewcheck"
                type="checkbox"
                class="form-check-input"
              />
              <label class="form-check-label" for="reviewcheck">
                Collaboratively formulate principle capital. Progressively
                evolve user
              </label>
            </div>
          </div>
          <div class="col-12 form-group mb-0">
            <button class="btn btn-primary w-100">
              SUBMIT NOW
              <i class="fa-sharp fa-regular fa-arrow-right-long ms-2"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
