<div class="container">
  <div class="row gx-60 gy-5">
    <div class="col-xl-6">
      <div class="contact-form-thumb">
        <img src="/img/contact/contactThumb2_1.png" alt="thumb" />
      </div>
    </div>
    <div class="col-xl-6">
      <div class="contact-form style2">
        <h2>Get in Touch</h2>
        <form class="row" action="#">
          <div class="col-md-6">
            <input type="text" placeholder="Full Name" />
          </div>
          <div class="col-md-6">
            <input type="email" placeholder="Email Address" />
          </div>
          <div class="col-md-6">
            <input type="number" placeholder="Phone Number" />
          </div>
          <div class="col-md-6">
            <select
              name="orderby"
              class="single-select"
              aria-label="Shop order"
            >
              <option value="subject" selected="selected">Subject</option>
              <option value="complain">Complain</option>
              <option value="greetings">Greetings</option>
              <option value="date">Expire Date</option>
              <option value="price">About Price</option>
              <option value="order">About order</option>
            </select>
          </div>
          <div class="col-12">
            <textarea
              id="message"
              class="form-control"
              placeholder="Write your message here..."
              rows="5"
            ></textarea>
          </div>
          <div class="col-12 form-group">
            <input id="reviewcheck" name="reviewcheck" type="checkbox" />
            <label for="reviewcheck"
              >Collaboratively formulate principle capital. Progressively evolve
              user<span class="checkmark"></span
            ></label>
          </div>
          <div class="col-12 form-group mb-0">
            <button class="theme-btn w-100">
              SUBMIT NOW
              <i
                class="fa-sharp fa-regular fa-arrow-right-long bg-transparent text-white"
              ></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
