<section class="banner-section fix">
  <div class="slider-area">
    <div class="swiper banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner-wrapper style1 bg-img">
            <div
              class="shape1_1 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_1.svg" alt="shape" />
            </div>
            <div
              class="shape1_2 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_2.svg" alt="shape" />
            </div>
            <div
              class="shape1_3 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="3s"
              data-delay="2s"
            >
              <img src="/img/shape/bannerShape1_3.svg" alt="shape" />
            </div>
            <div
              class="shape1_4 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_4.svg" alt="shape" />
            </div>
            <div
              class="shape1_5 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_5.svg" alt="shape" />
            </div>
            <div class="shape1_6 d-none d-xxl-block cir36">
              <img src="/img/shape/bannerShape1_6.svg" alt="shape" />
            </div>
            <div class="overlay"></div>
            <div class="banner-container">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xxl-6">
                    <div class="banner-title-area">
                      <div class="banner-style1">
                        <div class="section-title">
                          <h6
                            class="sub-title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".3s"
                          >
                            Welcome to the Truck
                          </h6>
                          <h1
                            class="title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".5s"
                          >
                            SPICY FRIED CHICKEN
                          </h1>
                          <a
                            class="theme-btn"
                            href="#"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".7s"
                            >ORDER NOW
                            <i class="fa-sharp fa-regular fa-arrow-right"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 d-none d-xxl-block">
                    <div
                      class="banner-thumb-area"
                      data-tilt
                      data-animation="slideInRight"
                      data-duration="2s"
                      data-delay=".9s"
                    >
                      <img
                        class="hero-slider-image"
                        src="/img/old/techno.webp"
                        alt="shape"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner-wrapper style1 bg-img">
            <div
              class="shape1_1 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_1.svg" alt="shape" />
            </div>
            <div
              class="shape1_2 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_2.svg" alt="shape" />
            </div>
            <div
              class="shape1_3 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="3s"
              data-delay="2s"
            >
              <img src="/img/shape/bannerShape1_3.svg" alt="shape" />
            </div>
            <div
              class="shape1_4 d-none d-xxl-block float-bob-x"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_4.svg" alt="shape" />
            </div>
            <div
              class="shape1_5 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_5.svg" alt="shape" />
            </div>
            <div class="shape1_6 d-none d-xxl-block cir36">
              <img src="/img/shape/bannerShape1_6.svg" alt="shape" />
            </div>
            <div class="overlay"></div>
            <div class="banner-container">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xxl-6">
                    <div class="banner-title-area">
                      <div class="banner-style1">
                        <div class="section-title">
                          <h6
                            class="sub-title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".3s"
                          >
                            Welcome to the Truck
                          </h6>
                          <h1
                            class="title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".5s"
                          >
                            Chicago Deep Pizza King
                          </h1>
                          <a
                            class="theme-btn"
                            href="menu.html"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".7s"
                            >ORDER NOW
                            <i class="fa-sharp fa-regular fa-arrow-right"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 d-none d-xxl-block">
                    <div
                      class="banner-thumb-area"
                      data-tilt
                      data-animation="slideInRight"
                      data-duration="2s"
                      data-delay=".9s"
                    >
                      <img
                        class="hero-slider-image"
                        src="/img/old/techno.webp"
                        alt="shape"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner-wrapper style1 bg-img">
            <div
              class="shape1_1 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_1.svg" alt="shape" />
            </div>
            <div
              class="shape1_2 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_2.svg" alt="shape" />
            </div>
            <div
              class="shape1_3 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="3s"
              data-delay="2s"
            >
              <img src="/img/shape/bannerShape1_3.svg" alt="shape" />
            </div>
            <div
              class="shape1_4 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_4.svg" alt="shape" />
            </div>
            <div
              class="shape1_5 d-none d-xxl-block"
              data-animation="slideInLeft"
              data-duration="2s"
              data-delay=".3s"
            >
              <img src="/img/shape/bannerShape1_5.svg" alt="shape" />
            </div>
            <div class="shape1_6 d-none d-xxl-block cir36">
              <img src="/img/shape/bannerShape1_6.svg" alt="shape" />
            </div>
            <div class="overlay"></div>
            <div class="banner-container">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xxl-6">
                    <div class="banner-title-area">
                      <div class="banner-style1">
                        <div class="section-title">
                          <h6
                            class="sub-title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".3s"
                          >
                            Welcome to the Truck
                          </h6>
                          <h1
                            class="title"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".5s"
                          >
                            Chicago Deep Burger King
                          </h1>
                          <a
                            class="theme-btn"
                            href="#"
                            data-animation="slideInRight"
                            data-duration="2s"
                            data-delay=".7s"
                            >ORDER NOW
                            <i class="fa-sharp fa-regular fa-arrow-right"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 d-none d-xxl-block">
                    <div
                      class="banner-thumb-area"
                      data-tilt
                      data-animation="slideInRight"
                      data-duration="2s"
                      data-delay=".9s"
                    >
                      <img
                        class="hero-slider-image"
                        src="/img/old/techno.webp"
                        alt="shape"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="arrow-prev">-->
      <!--  <img src="/img/icon/arrowPrev.svg" alt="Icon" />-->
      <!--</div>-->
      <!--<div class="arrow-next">-->
      <!--  <img src="/img/icon/arrowNext.svg" alt="Icon" />-->
      <!--</div>-->
      <!--<div class="pagination-class swiper-pagination"></div>-->
    </div>
  </div>
</section>
