<app-banner [height]="'450px'" variant="truck-name" title="Catering Services"></app-banner>

<section class="catering-section">
    <div class="container">
        <div class="catering-content">
            <div class="title-area">
                <div class="sub-title text-center" [class.animate]="isBrowser">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    Detroit's Premier Slider Catering Service
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <div class="intro-text">
                <p>
                    Tim's Gourmet Sliders brings the restaurant experience
                    directly to your event with our full-service catering
                    options. From corporate gatherings to weddings and
                    celebrations, we deliver fresh, made-to-order sliders your
                    guests will love.
                </p>
            </div>

            <div class="features-list" [class.animate]="isBrowser">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-users"></i>
                            <h4>Professional Staff</h4>
                            <p>
                                Experienced team dedicated to excellent service
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-truck"></i>
                            <h4>Full Mobile Kitchen</h4>
                            <p>Complete cooking setup at your location</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-check-circle"></i>
                            <h4>High Quality Ingredients</h4>
                            <p>Fresh, locally sourced premium ingredients</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-clipboard-list"></i>
                            <h4>Customizable Menus</h4>
                            <p>Flexible options to suit your event</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-shield-alt"></i>
                            <h4>Licensed and Insured</h4>
                            <p>Fully compliant with all regulations</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="feature-item">
                            <i class="fas fa-star"></i>
                            <h4>30 Years Experience</h4>
                            <p>Decades of culinary excellence</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title-area package-heading">
                <div class="sub-title text-center" [class.animate]="isBrowser">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    Catering Packages
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <div class="package-container" [class.animate]="isBrowser">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="package-card">
                            <div class="package-header">
                                <span class="package-badge">Basic</span>
                                <h4>Starter Package</h4>
                            </div>
                            <div class="package-body">
                                <ul>
                                    <li>Includes these 4 slider options:</li>
                                    <li>Not So Basic</li>
                                    <li>Very! Basic</li>
                                    <li>Extra Cheese Please</li>
                                    <li>Classic</li>
                                    <li>Choice of one side</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="package-card popular">
                            <div class="popular-tag">Most Popular</div>
                            <div class="package-header">
                                <span class="package-badge">Premium</span>
                                <h4>Not! So Basic Package</h4>
                            </div>
                            <div class="package-body">
                                <ul>
                                    <li>Your choice of any 4 options</li>
                                    <li>Premium slider selections</li>
                                    <li>Includes your choice of one side</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="package-card">
                            <div class="package-header">
                                <span class="package-badge">Deluxe</span>
                                <h4>Deluxe Package</h4>
                            </div>
                            <div class="package-body">
                                <ul>
                                    <li>Your choice of any 6 options</li>
                                    <li>Premium slider selections</li>
                                    <li>Includes your choice of two sides</li>
                                    <li>Choose cajun fries or truffle fries</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="package-note text-center">
                <p class="note">
                    All catering packages include napkins, plasticware,
                    condiments, and bluetooth music streaming with service
                </p>
                <p class="gluten-free">
                    Gluten Free Option Available! Contact us for more details
                </p>
            </div>

            <div class="title-area menu-heading">
                <div class="sub-title text-center" [class.animate]="isBrowser">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    Our Catering Options
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <app-catering-menu></app-catering-menu>
        </div>
    </div>

    <div id="contact" class="contact-container">
        <app-contact-form></app-contact-form>
    </div>
</section>
