<section class="catering-section">
    <div class="container">
        <div class="catering-content">
            <div class="title-area">
                <div class="sub-title text-center">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    {{ catering?.pageKicker || "Detroit's Premier Slider Catering Service" }}
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <div class="intro-text">
                <p>{{ catering?.introParagraph }}</p>
            </div>

            <div class="wedding-photo">
                <img
                    [src]="catering?.weddingPhotoUrl || 'https://cdn.syncgr.com/domains/timsgourmetsliders.com/1ec69323-71be-4824-a509-a1e896e8d0a6.jpg'"
                    alt="Tim's Gourmet Sliders food truck catering a wedding reception"
                    loading="lazy"
                />
            </div>

            <div class="features-list">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let feature of catering?.features">
                        <div class="feature-item">
                            <h4>{{ feature.heading }}</h4>
                            <p>{{ feature.body }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title-area package-heading">
                <div class="sub-title text-center">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    {{ catering?.packagesHeading || 'Catering Packages' }}
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <div class="package-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let pkg of catering?.packages">
                        <div class="package-card" [class.popular]="pkg.popularTag">
                            <div class="popular-tag" *ngIf="pkg.popularTag">{{ pkg.popularTag }}</div>
                            <div class="package-header">
                                <span class="package-badge">{{ pkg.badge }}</span>
                                <h4>{{ pkg.name }}</h4>
                            </div>
                            <div class="package-body">
                                <ul>
                                    <li *ngFor="let bullet of pkg.bullets">{{ bullet }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="package-note text-center">
                <p class="note">{{ catering?.packageIncludesNote }}</p>
                <p class="gluten-free">{{ catering?.glutenFreeNote }}</p>
            </div>

            <div class="title-area menu-heading">
                <div class="sub-title text-center">
                    <img
                        class="me-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                    Our Catering Options
                    <img
                        class="ms-1"
                        src="/img/icon/titleIcon.svg"
                        alt="icon"
                    />
                </div>
            </div>

            <app-catering-menu></app-catering-menu>
        </div>
    </div>

    <div id="contact" class="contact-container">
        <app-contact-form></app-contact-form>
    </div>
</section>
