<div class="contact-form style2 p-4">
    <h2 class="mb-4">Contact Us</h2>
    <form class="row g-3" action="#">
        <div class="col-md-6">
            <input type="text" placeholder="Full Name" class="form-control" />
        </div>
        <div class="col-md-6">
            <input
                type="text"
                placeholder="Address of Event"
                class="form-control"
            />
        </div>
        <div class="col-md-6">
            <input
                type="number"
                placeholder="Phone Number"
                class="form-control"
            />
        </div>
        <div class="col-md-6">
            <input
                type="email"
                placeholder="Email Address"
                class="form-control"
            />
        </div>

        <div class="col-md-6">
            <input
                type="date"
                class="form-control"
                aria-label="Date of Event"
                placeholder=" "
            />
        </div>

        <div class="col-md-6">
            <input
                type="number"
                placeholder="Number of Guests"
                class="form-control"
            />
        </div>

        <div class="col-md-6">
            <select
                name="orderby"
                class="form-select"
                aria-label="Type Of Event"
            >
                <option value="" disabled selected>Type of Event</option>
                <option value="coorporate">Coorporate</option>
                <option value="birthday">Birthday</option>
                <option value="graduation">Graduation</option>
                <option value="graduation">Neighborhood</option>
                <option value="graduation">Festival</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="col-12">
            <textarea
                id="message"
                class="form-control"
                placeholder="Tell us about your ideal event"
                rows="5"
            ></textarea>
        </div>
        <div class="col-12 form-group mb-0">
            <button class="btn btn-primary w-100">
                Submit Request
                <i class="fa-sharp fa-regular fa-arrow-right-long ms-2"></i>
            </button>
        </div>
    </form>
</div>
