<footer class="footer-section">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="contact-section">
                <div class="row gy-4">
                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Address</h6>
                                <p>{{contact.ADDRESS}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Email</h6>
                                <a href="mailto:{{ contact.EMAIL }}">
                                    <p>{{ contact.EMAIL }}</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="contact-card">
                            <div class="contact-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="contact-info">
                                <h6>Phone Number</h6>
                                <p>
                                    <a
                                        [href]="contact.PHONE_LINK"
                                        itemprop="telephone"
                                    >
                                        {{ contact.PHONE }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-content-section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a href="#" class="footer-logo">
                                    <img
                                        src="https://cdn.syncgr.com/domains/timsgourmetsliders.com/3ff8d525-b0a2-4462-b9b5-27a79ee81928.png"
                                        class="logo-img"
                                        alt="logo-img"
                                        @defer
                                    />
                                </a>
                            </div>
                            <div class="footer-content">
                                <div class="social-icon-container">
                                    <a
                                        target="_blank"
                                        [href]="socials.FACEBOOK"
                                        aria-label="Facebook"
                                        class="social-icon facebook"
                                    >
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a
                                        target="_blank"
                                        [href]="socials.GOOGLE"
                                        aria-label="Google"
                                        class="social-icon google"
                                    >
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a
                                        target="_blank"
                                        [href]="socials.INSTAGRAM"
                                        aria-label="Instagram"
                                        class="social-icon instagram"
                                    >
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Quick Links</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="catering">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Catering
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="menu">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Menu
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="meet-us">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Meet Us
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Reviews
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="contact-us">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Our Menu</h3>
                            </div>
                            <ul class="list-area">
                                <li *ngFor="let item of menu">
                                    <a [routerLink]="['menu-item', item.id]">
                                        <i
                                            class="fa-solid fa-chevron-right"
                                        ></i>
                                        {{ item.title }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Hours</h3>
                            </div>
                            <ul class="list-area">
                                <li class="mb-2">
                                    Monday – Saturday:
                                    <span class="hours-text"> 10am – 9pm </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-wrapper">
                <p>© Copyright Guru Development LLC</p>
            </div>
        </div>
    </div>
</footer>
