<div class="breadcumb-section">
  <div class="breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">MENU</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="food-menu-section fix section-padding">
  <div class="food-menu-wrapper-container style2">
    <div class="container">
      <div class="food-menu-wrapper style2 section-padding">
        <div class="container">
          <div class="title-area">
            <div
              class="sub-title text-center wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <img class="me-1" src="/img/icon/titleIcon.svg" alt="icon" />MENU
              ITEMS<img class="ms-1" src="/img/icon/titleIcon.svg" alt="icon" />
            </div>
            <h2 class="title wow fadeInUp" data-wow-delay="0.7s">
              Our Menu Selection
            </h2>
          </div>
          <div class="food-menu-tab-wrapper style2">
            <div class="row">
              <div
                class="col-xl-4 d-flex align-items-center justify-content-center"
              >
                <div class="tab-left">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li
                      class="nav-item"
                      role="presentation"
                      *ngFor="let item of menu.slice(0, 5); let i = index"
                    >
                      <div
                        [class]="'nav-link ' + (i === 0 ? 'active' : '')"
                        [id]="'pills-' + item.id + '-tab'"
                        data-bs-toggle="pill"
                        [attr.data-bs-target]="'#pills-' + item.id"
                        role="tab"
                        [attr.aria-controls]="'pills-' + item.id"
                        [attr.aria-selected]="i === 0"
                      >
                        <div class="single-menu-items">
                          <div class="details">
                            <div class="menu-item-thumb">
                              <img
                                [src]="item.imageUrl || '/img/menu/default.png'"
                                [alt]="item.title"
                              />
                            </div>
                            <div class="menu-content">
                              <h3>{{item.title}}</h3>
                              <p>{{item.description}}</p>
                            </div>
                          </div>
                          <h6>${{item.price || '15.99'}}</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="col-xl-4 d-flex align-items-center justify-content-center"
              >
                <div class="middle-tab-content">
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      *ngFor="let item of menu; let i = index"
                      [class]="'tab-pane fade ' + (i === 0 ? 'show active' : '')"
                      [id]="'pills-' + item.id"
                      role="tabpanel"
                      [attr.aria-labelledby]="'pills-' + item.id + '-tab'"
                      tabindex="0"
                    >
                      <div class="menuthumb">
                        <img
                          [src]="item.imageUrl || '/img/menu/menuThumb3_1.png'"
                          [alt]="item.title"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-xl-4 d-flex align-items-center justify-content-center"
              >
                <div class="tab-right">
                  <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
                    <li
                      class="nav-item"
                      role="presentation"
                      *ngFor="let item of menu.slice(5, 10); let i = index"
                    >
                      <div
                        [class]="'nav-link ' + (i === 0 && !menu[0].active ? 'active' : '')"
                        [id]="'pills-' + item.id + '-tab'"
                        data-bs-toggle="pill"
                        [attr.data-bs-target]="'#pills-' + item.id"
                        role="tab"
                        [attr.aria-controls]="'pills-' + item.id"
                        [attr.aria-selected]="i === 0 && !menu[0].active"
                      >
                        <div class="single-menu-items">
                          <div class="details">
                            <div class="menu-item-thumb">
                              <img
                                [src]="item.imageUrl || '/img/menu/default.png'"
                                [alt]="item.title"
                              />
                            </div>
                            <div class="menu-content">
                              <h3>{{item.title}}</h3>
                              <p>{{item.description}}</p>
                            </div>
                          </div>
                          <h6>${{item.price || '15.99'}}</h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="marquee-wrapper style-1 text-slider section-padding">
    <div class="marquee-inner to-left">
      <ul class="marqee-list d-flex">
        <li class="marquee-item style1">
          <ng-container *ngFor="let item of menu">
            <span class="text-slider"></span>
            <span class="text-slider text-style">{{item.title}}</span>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="timer-section section-padding pt-0 fix">
  <div class="timer-wrapper style1">
    <div class="container">
      <div class="timer-wrap style1">
        <div class="shape1 d-none d-xxl-block">
          <img class="cir36" src="/img/shape/timerShape1_1.svg" alt="shape" />
        </div>
        <div class="shape2 d-none d-xxl-block">
          <img src="/img/shape/timerShape1_2.svg" alt="shape" />
        </div>
        <div class="shape3 d-none d-xxl-block">
          <img src="/img/shape/timerShape1_3.svg" alt="shape" />
        </div>
        <div class="container">
          <div class="row gy-4 gx-134">
            <div class="col-lg-6">
              <div class="timer-thumb wow fadeInUp" data-wow-delay="0.3s">
                <img src="/img/timer/timerThumb1_1.png" alt="thumb" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="timer-card style1 wow fadeInUp" data-wow-delay="0.5s">
                <div class="title-area">
                  <div
                    class="sub-title text-center wow fadeInUp"
                    data-wow-delay="0.5s"
                  >
                    <img
                      class="me-1"
                      src="/img/icon/titleIcon.svg"
                      alt="icon"
                    />Catering Discount<img
                      class="ms-1"
                      src="/img/icon/titleIcon.svg"
                      alt="icon"
                    />
                  </div>
                  <h2
                    class="title text-white wow fadeInUp"
                    data-wow-delay="0.7s"
                  >
                    Get 30% Discount Every Item
                  </h2>
                </div>
                <div class="clock-wrapper">
                  <div class="clock">
                    <div class="number" id="days">00</div>
                    <div class="text">days</div>
                  </div>
                  <div class="clock">
                    <div class="number" id="hours">00</div>
                    <div class="text">hrs</div>
                  </div>
                  <div class="clock">
                    <div class="number" id="minutes">00</div>
                    <div class="text">mins</div>
                  </div>
                  <div class="clock">
                    <div class="number" id="seconds">00</div>
                    <div class="text">secs</div>
                  </div>
                </div>

                <div class="btn-wrap">
                  <a class="theme-btn" href="#"
                    >ORDER NOW <i class="fa-sharp fa-regular fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
