<section class="trusted-by-section">
    <h2 class="section-title">Trusted By</h2>

    <div class="marquee-track">
        <div class="marquee-content marquee-left">
            <span *ngFor="let client of clients" class="marquee-item">{{ client }}</span>
            <span *ngFor="let client of clients" class="marquee-item">{{ client }}</span>
        </div>
    </div>

    <div class="marquee-track">
        <div class="marquee-content marquee-right">
            <span *ngFor="let client of clients" class="marquee-item">{{ client }}</span>
            <span *ngFor="let client of clients" class="marquee-item">{{ client }}</span>
        </div>
    </div>
</section>
