<div class="contact-form style2 p-4">
    <h2 class="mb-4">Feedback</h2>
    <form class="row g-3" action="#">
        <div class="col-md-6">
            <input type="text" placeholder="Full Name" class="form-control" />
        </div>
        <div class="col-md-6">
            <input type="email" placeholder="Email Address" class="form-control" />
        </div>
        <app-stars (ratingChange)="onRatingChange($event)"></app-stars>
        <div class="col-12">
            <textarea
                id="message"
                class="form-control"
                placeholder="Tell us what you liked about the dish"
                rows="5"
            ></textarea>
        </div>
        <div class="col-12 form-group mb-0">
            <button class="btn btn-primary w-100">
                Submit Feedback
                <i class="fa-sharp fa-regular fa-arrow-right-long ms-2"></i>
            </button>
        </div>
    </form>
</div>
