// * {
//     font-family: 'Alfa Slab One' !important;
// }

.breadcumb-wrapper {
    position: relative;
    background-image: url('/img/old/truck2.jpg');
    background-size: cover;
    background-position: center;
}

.breadcumb-wrapper.truck-name {
    background-image: url('/img/old/Name.jpg');
}

.breadcumb-wrapper.truck-9 {
    background-image: url('/img/old/truck9.png');
}

.breadcumb-wrapper.truck-99 {
    background-image: url('/img/old/truck99.png');
}

.breadcumb-wrapper.truck-999 {
    background-image: url('/img/old/truck999.png');
}

.breadcumb-wrapper.truck-9999 {
    background-image: url('/img/old/truck9999.png');
}

.breadcumb-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.breadcumb-content {
    position: relative;
    z-index: 1;
}

h1.breadcumb-title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
